data/extracted/fake_fvfa/*
data/extracted/fake_fvra/*
data/extracted/real/*
data/videos/*
data/extracted/face_landmarker.task
data/raw/*

output/laplacian/*
output/lbp/*
output/sobel/*

.venv/
models/
experimentos/grupo_a/__pycache__/experimentos_a.cpython-312.pyc
